stages:
  - build
  - push
  - deploy

before_script:
  # Write the SSH key to a file and set permissions
  - echo "$AWS_SSH_KEY" > /tmp/aws_key.pem
  - chmod 600 /tmp/aws_key.pem

build_service_queue_aws:
  stage: build
  script:
    - cd service-queue-aws
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - service-queue-aws/target/service-queue-aws-1.0.0.jar
  only:
    changes:
      - service-queue-aws/**

push_service_queue_aws:
  stage: push
  script:
    - scp -i /tmp/aws_key.pem service-queue-aws/target/service-queue-aws-1.0.0.jar $EC2_HOST:/opt/smartqueue-aws/
  only:
    changes:
      - service-queue-aws/**
  dependencies:
    - build_service_queue_aws

deploy_service_queue_aws:
  stage: deploy
  script:
    - ssh -i /tmp/aws_key.pem $EC2_HOST 'cd /opt/smartqueue-aws/ && ./restart.sh'
  only:
    changes:
      - service-queue-aws/**
  dependencies:
    - push_service_queue_aws
